@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.jumbotron{
  text-align: center;
  color: red;
}

.buttonStart{
  position: relative;
  width: 200px;
  margin: 0 auto;
}
#startGame{
  display: none;
}
