@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.jumbotron{
  text-align: center;
  color: red;
}

.buttonStart{
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin: 0 auto;
}
.btn{
  display: inline;
}

.hostScreen {
  display: none;
}
