extends layout

block content
  body
    .jumbotron
      h1 Hello World!
    //- block landingPage

    ul#chat

    form#chat-form
      input#chat-input(placeholder="Chat")
      input#chat-name(placeholder="Username")
      button Send
    script(src='./socket.io/socket.io.js')
    script(src='/js/client.js')
