extends layout


block content
  body.container-fluid
    .jumbotron
      h1 WEREWOLF
      h2 A Party Game
    //- block landingPage

    h4.text-center#players
    div.buttonStart
      button#startGame.center-block.btn-lg.btn.btn-success Start Game

    h4#waiting
    include ./chat.jade
    script(src='http://code.jquery.com/jquery-1.12.0.min.js')
    script(src='./socket.io/socket.io.js')
    script(src='/js/client.js')



