extends layout


block content
  body.container-fluid
      .jumbotron
        h1 WEREWOLF
        h2 A Party Game
        h3= page
      .introScreen
        h4.text-center#players
        div.buttonStart
          button#hostGame.center-block.btn-lg.btn.btn-success Host
          button#playerGame.center-block.btn-lg.btn.btn-success Player
      .hostScreen
        h1.hostSite Open this page on your smartphone:
        h2.serverAddress
        h3.hostJoin Then click JOIN and enter the following lobby number.
        h4.lobbyAddress


    h4#waiting
    include ./chat.jade




