<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="/css/style.css")
  script(src='./js/jquery.min.js')
  script(src='./socket.io/socket.io.js')
  script(srt='./js/bootstrap.min.js')
  script(src='/js/client.js')
  title Whoop there it is

body
  block content
